div {overflow: -moz-scrollbars-none;}
	body {
    position: relative;
 
}

@font-face {
    font-family: Gotham-Black;
    src: url("fonts/Gotham-Black.otf") format("opentype");
	
}

@font-face {
    font-family: Gotham-Book;
    src: url("fonts/Gotham-Book_0.otf") format("opentype");
}


@font-face {
    font-family: Gotham-XLight;
    src: url("fonts/Gotham-XLight.otf") format("opentype");
}

@font-face {
    font-family: Gotham-Light;
    src: url("fonts/Gotham-Light.otf") format("opentype");
}

@font-face {
    font-family: Gotham-Medium;
    src: url("fonts/Gotham-Medium.otf") format("opentype");
}

@font-face {
    font-family: Gotham-Bold;
    src: url("fonts/Gotham-Bold.otf") format("opentype");
}

.form-control{font-family:'Gotham-Book'}


html body {background-color: #EAE9F0;-ms-overflow-style: none;margin:0;font-family:'Gotham-Book'}

.welcome{font-family:'Gotham-Book';font-size:20px;vertical-align:middle}

.mainheader{font-family:Gotham-Bold;font-size:28px;font-weight:bold;margin-top:10px}
.mainheader2{font-family:Gotham-Book;font-size:22px;font-weight:bold;margin-bottom:30px}
.mainheader3{font-family:Gotham-Book;font-size:18px;font-weight:bold;margin-bottom:30px;font-weight:bold}

.form-rounded { border-radius: 5rem;border:1px solid #D5D4D8;height:48px;}
.form-rounded-signin{ border-radius: 5rem;height:48px;}
.form-rounded2 { border-radius: 1rem;border:1px solid #D5D4D8;height:48px; resize: none;}
.form-rounded_texarea { border:1px solid #D5D4D8}

.err{   color:red;font-family:'Gotham-Book';font-size:12pt;margin-top:5px}
.info{color:green;font-family:'Gotham-Book';font-size:12pt;margin-top:5px}

.row no-container  {    margin-left: 0 !important;    margin-right: 0 !important; }

.btn-success {background-color:#5C2D91; border-color:white !important;font-family: Gotham-Book;text-transform: capitalize;font-size:16px;height:48px}
.btn-success-signin {background-color:#5C2D91;font-family: Gotham-Book;font-size:16px;height:48px;color:#fff;text-transform:none}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success {
	color: #fff;
    background-color:#7a41ba!important;
    border-color:white !important;
	outline:none;
	height:48px;
}

.btn-success-signin:hover {
	color: #fff;
    background-color:#7a41ba!important;
	outline:none;
	height:48px;
}


.pointer{cursor:pointer;font-family:'Gotham-Book';}

.headerlink{font-family:'Gotham-Book';font-size:14pt;color:#5B3088;cursor:pointer}

.fa{cursor:pointer}



/* For tablets and desktops ...*/
@media only screen and (min-device-width: 768px) 
{
	.mobiletabmenutext{.padding-top:5px;font-family:Gotham-Book;font-size:14px;color:#4A3562}
	#header{display:''}
	
	#mobilemenu{display:none!important}
	button{width:60%;margin:0 auto}
	.logo{width:120px;height:auto;padding-top:10px;padding-bottom:10px}
}

/* Extra size devices */
@media only screen and (min-device-width : 481px) and (max-device-width :767px) 
{
	
	#header{display:''}
	
	#mobilemenu{display:none!important}
	button{width:100%;margin:0 auto}
	.logo{width:120px;height:auto;padding-top:10px;padding-bottom:10px}
	
}

/*Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) 
{
	.mobiletabmenutext{.padding-top:5px;font-family:Gotham-Book;font-size:10px;color:#4A3562}
	#header{display:none}
	#mobilemenu{display:block!important}
	button{width:100%;margin:0 auto}
	.logo{width:120px;height:auto;padding-top:10px;padding-bottom:10px}
	
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}



label{font-family:'Gotham-Book';margin-top:5px;margin-bottom:5px}


.valign-m{display:block;vertical-align:middle}
.valign-b{display:table-cell;vertical-align:bottom;text-align:left}

.valign-b li{font-size: 13px; color: #8e8e8e;}
.valign-b li a{font-size: 13px; color: #8e8e8e;}

.signin_link
{
color:#767382}


.curved_buttons_signout{border: 1px solid #2B2932;border-top-left-radius:30px;    border-top-right-radius:30px;	border-bottom-left-radius:30px;    border-bottom-right-radius:30px;	color:#2B2932;text-align:center;	width:100%;	margin:0 auto;height:40px;line-height:40px;cursor:pointer;width:100%;font-family:'Gotham-Book';font-weight:600}
.curved_buttons_signout_black{background-color:#2B3932;border: 1px solid #2B2932;border-top-left-radius:30px;    border-top-right-radius:30px;	border-bottom-left-radius:30px;    border-bottom-right-radius:30px;	color:#fff;text-align:center;	width:100%;	margin:0 auto;height:40px;line-height:40px;cursor:pointer;font-family:'Gotham-Book';font-weight:600;display:inline-block;float:left;}
.curved_buttons_signout_black1{background-color:#2B3932;border: 1px solid #2B2932;border-top-left-radius:30px;    border-top-right-radius:30px;	border-bottom-left-radius:30px;    border-bottom-right-radius:30px;	color:#fff;text-align:center;	margin:0 auto;height:40px;line-height:40px;cursor:pointer;font-family:'Gotham-Book';font-weight:600;float:left;display:inline-block;width:48%}
.curved_buttons_signout_black2{background-color:#2B3932;border: 1px solid #2B2932;border-top-left-radius:30px;    border-top-right-radius:30px;	border-bottom-left-radius:30px;    border-bottom-right-radius:30px;	color:#fff;text-align:center;	margin:0 auto;height:40px;line-height:40px;cursor:pointer;font-family:'Gotham-Book';font-weight:600;float:right;display:inline-block;width:48%}
.curved_buttons_signout2{border: 4px solid #D1D0E0;border-top-left-radius:30px;    border-top-right-radius:30px;	border-bottom-left-radius:30px;    border-bottom-right-radius:30px;	color:#2B2932;text-align:center;margin:0 auto;height:40px;line-height:40px;cursor:pointer;width:100%;font-family:'Gotham-Book';font-weight:600;cursor:pointer;font-size:20px;background-color:#fff;height:50px;line-height:50px}


.showtd{font-weight:bold}



#cover-spin {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.7);
    z-index:9999;
    display:none;
}

@-webkit-keyframes spin {
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

#cover-spin::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color:#663399;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}