<?xml version="1.0" encoding="utf-8"?>
<configuration>  
  <system.webServer>
    <staticContent>
		<mimeMap fileExtension=".eot"  mimeType="application/vnd.ms-fontobject" />
        <mimeMap fileExtension=".ttf"  mimeType="application/octet-stream" />
        <mimeMap fileExtension=".svg"  mimeType="image/svg+xml" />
        <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
		<mimeMap fileExtension=".otf" mimeType="font/otf" />
	</staticContent>
  </system.webServer>
</configuration>